<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wmiltos.inveglobal_droid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Deposito.LimpiarDepo"></activity>
        <activity android:name=".Deposito.GenerarArchivoDeposito" />
        <activity android:name=".Deposito.StockDeposito" />
        <activity android:name=".Deposito.LecturaDeposito" />
        <activity android:name=".Deposito.CapturaUbicacion" />
        <activity android:name=".Deposito.UbicacionDeposito" />
        <activity android:name=".iTrack.ImportarCSVActivity" />
        <activity android:name=".iTrack.EditarActivity" />
        <activity android:name=".iTrack.utils_csv.CapturaListViewActivity" />
        <activity android:name=".iTrack.ConfiguracionActivity" />
        <activity android:name=".iTrack.AgregarActivity" />
        <activity
            android:name=".iTrack.QuiebreActivity"
            android:label="@string/title_activity_quiebre"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".principal.subVentanas.ConfiguracionSoporteActivity" />
        <activity android:name=".principal.subVentanas.Limpiar2Activity" />
        <activity android:name=".principal.subVentanas.RedActivity" />
        <activity android:name=".principal.ventanas.StockAutomaticoActivity" />
        <activity android:name=".PruebasBD.PruebaTabsActivity" />
        <activity android:name=".PruebasBD.ResScannerActivity" />
        <activity android:name=".PruebasBD.ScannerActivity" />
        <activity
            android:name=".PruebasBD.UbicarBD_Activity"
            android:label="@string/title_activity_ubicar_bd_" />
        <activity android:name=".principal.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PruebasBD.RegistroActivity" />
        <activity android:name=".PruebasBD.ConsultaActivity" />
        <activity android:name=".principal.ventanas.UbicacionActivity" />
        <activity android:name=".principal.ventanas.LecturasActivity" />
        <activity android:name=".principal.ventanas.StockActivity" />
        <activity android:name=".PruebasBD.RegistroLecturasActivity" />
        <activity android:name=".PruebasBD.archivosActivity" />
        <activity android:name=".principal.subVentanas.GeneraArchivoActivity" />
        <activity android:name=".principal.login.LoginValidacionActivity" />
        <activity android:name=".principal.subVentanas.VisualizarRegistroActivity" />
        <activity android:name=".PruebasBD.SimpleScannerActivity" />
    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.CAMERA" />

</manifest>